<%- include('./partials/head'); %>

<%- include('./partials/header'); %>



<form action="/membersSignUp" method="POST" class="was-validated FormConnect d-flex flex-column align-items-center">
    <div class="cardFormConnect d-flex flex-column align-items-center card-body">
    <!-- lastname input -->
    <div class="inputFormConnect form-outline mb-3">
    <label class="form-label" for="form2Example1">Nom</label>
    <input name="lastname" type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required pattern="[a-zA-ZàâæçéèêëîïôœùûüÿÀÂÆÇnÉÈÊËÎÏÔŒÙÛÜŸ-' ]+{1,30}" />
    <div class="invalid-feedback">
      <%if(typeof errorSignUpLastname != 'undefined') {%>
      <%=errorSignUpLastname %>
      <%}%>
    </div>
  </div>

    <!-- Firstname input -->
    <div class="inputFormConnect form-outline mb-3">
        <label class="form-label" for="form2Example1">Prénom</label>
      <input name="firstname" type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required pattern="[a-zA-ZàâæçéèêëîïôœùûüÿÀÂÆÇnÉÈÊËÎÏÔŒÙÛÜŸ-' ]+{1,30}" />
    <div class="invalid-feedback">
      <%if(typeof errorSignUpFirstname != 'undefined') {%>
        <%=errorSignUpFirstname %>
        <%}%>
      </div>
    </div>

    <!-- phone input -->
    <div class="inputFormConnect form-outline mb-3">
        <label class="form-label" for="form2Example1">Telephone</label>
      <input name="phone_number" type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required pattern="[0-9]{10}" />
    <div class="invalid-feedback">
      <%if(typeof errorSignUpPhone != 'undefined') {%>
        <%=errorSignUpPhone %>
        <%}%>
      </div>
    </div>
    <!-- Adress input -->
    <div class="inputFormConnect form-outline mb-3">
        <label class="form-label" for="form2Example1">Adresse</label>
      <input name="address" type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required pattern="[a-zA-ZàâæçéèêëîïôœùûüÿÀÂÆÇnÉÈÊËÎÏÔŒÙÛÜŸ-' ]{1,50}" />
    <div  class="invalid-feedback">
      <%if(typeof errorSignUpAddress != 'undefined') {%>
        <%=errorSignUpAddress %>
        <%}%>
      </div>
    </div>

   <!-- Email input -->
<div class="inputFormConnect form-outline mb-4">
  <label class="form-label" for="validationServer03">Email</label>
<input name="mail" type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
<div class="invalid-feedback">
  <%if(typeof errorSignUpMail != 'undefined') {%>
  <%=errorSignUpMail %>
  <%}%>
</div>
</div>
  
    <!-- Password input -->
    <div class="inputFormConnect form-outline mb-3">
        <label class="form-label" for="form2Example2">Mot de passe</label>
      <input name="password" type="password" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required pattern="[A-Za-z]{5,}" />
    <div  class="invalid-feedback">
      <%if(typeof errorSignUpPassword != 'undefined') {%>
        <%= errorSignUpPassword%>
        <%}%>
      </div>
    </div>
  
  
    <!-- Submit button -->
    <button type="submit" class="btnFormConnect btn btn-block mb-3">S'identifier</button>

</div>
</form>

  <%- include('./partials/footer'); %>